.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

/* 'React' refers to a UMD global, but the current file is a module. Consider adding an import instead */